extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/jdd.css")
  style.
    span.pending {
      color: Orange;
    }
    span.approved {
      color: YellowGreen;
    }
    span.refused {
      color: Crimson;
    }
  script(src="/dist/js/suggestionDetail.js")
  script.
    const PATH = !{JSON.stringify(suggestion.page.split('/'))};

block content
  - newFile = JSON.parse(suggestion.stringifiedJSON);
  if suggestion.page.split('/')[1] == "card"
    -
      function sortByGrimm(dt) {
        return dt.sort((a, b) => {
          if (!a.grimmCost) return 1;
          if (!b.grimmCost) return -1;
          return a.grimmCost - b.grimmCost;
        });
      }
      originalFile.dt = sortByGrimm(originalFile.dt);
      newFile.dt = sortByGrimm(newFile.dt);
  div.container
    h1 Suggestion: #{title}
    div.card.mb-3
      div.card-body
        p User:
          |
          |
          a(href='/' + suggestion.user + "/profile")= suggestion.user
        p Page:
          |
          |
          a(href=suggestion.page)= suggestion.page
        p Status:
          |
          |
          span.font-weight-bold(class=(suggestion.status))= suggestion.status

        //- jdd
        button#compare.d-none Compare
        .diffcontainer
          div#report
          pre#out.left.codeBlock
          pre#out2.right.codeBlock
          ul#toolbar.toolbar
        .initContainer
          div.left
            textarea#textarealeft(spellcheck=false)= JSON.stringify(originalFile)
            pre#errorLeft.error
          div.right
            textarea.right#textarearight(spellcheck=false)= JSON.stringify(newFile)
            pre#errorRight.error

        textarea#final.form-control.mb-3(style="min-height:320px;")= JSON.stringify(newFile, undefined, 4)

        div.row
          div.col
            button#ban.btn.btn-outline-danger.mr-2(data-name=suggestion.user) Ban user
            button#delete.btn.btn-secondary.mr-2 Delete suggestion
            button#save.btn.btn-primary Save changes
          div.col: input#reason.form-control(type="text" value=suggestion.reason placeholder="reason")

  script(src="/dist/js/jdd/jsl/jsl.format.js")
  script(src="/dist/js/jdd/jsl/jsl.parser.js")
  script(src="/dist/js/jdd/jdd.js")