extends layout

block scripts
  //- script(src="/dist/js/treeTracker.js")

block content
  div.container
    h1= title
    div.card
      div.card-body
        //- p.card-text Types: <a href="/tree-tracker">Rewards</a> / <a href="/tree-tracker/rank-up">Rank Ups</a>
        p.card-text Devil's tree tracking made easy! Simply click to add or remove an item. This page only shows cards you own.
        hr
        form#filters
          h5= t("cards.type")
          div.custom-control.custom-radio.custom-control-inline
            input#demon.custom-control-input(type="radio" name="type" value="Demon" checked)
            label.custom-control-label(for="demon")= t("cards.Demon")
          div.custom-control.custom-radio.custom-control-inline
            input#memory.custom-control-input(type="radio" name="type" value="Memory")
            label.custom-control-label(for="memory")= t("cards.Memory")

          h5.mt-3= t("cards.character")
          .d-flex.flex-wrap.align-items-center
            div.btn-group-toggle(data-toggle="buttons")
              label.btn(for="Lucifer")
                input(type="radio" name="character" id="Lucifer" value="Lucifer" checked)
                img(src="/images/faces/Lucifer.png" width=32 height=32 alt=t("Lucifer"))

            each c in ["Mammon", "Leviathan", "Satan", "Asmodeus", "Beelzebub", "Belphegor", "Diavolo", "Barbatos", "Simeon", "Luke", "Solomon", "Thirteen", "Mephistopheles", "Raphael", "LittleD"]
              div.btn-group-toggle(data-toggle="buttons")
                label.btn(for=c)
                  input(type="radio" name="character" id=c value=c)
                  img(src="/images/faces/"+c+".png" width=32 height=32 alt=t(c))

          h5.mt-3= t("cards.rarity")
          div.custom-control.custom-radio.custom-control-inline
            input#id1.custom-control-input(type="radio" name="rarity" value="UR+" checked)
            label.custom-control-label(for="id1") UR+
          div.custom-control.custom-radio.custom-control-inline
            input#id2.custom-control-input(type="radio" name="rarity" value="UR")
            label.custom-control-label(for="id2") UR
          div.custom-control.custom-radio.custom-control-inline
            input#id3.custom-control-input(type="radio" name="rarity" value="SSR")
            label.custom-control-label(for="id3") SSR
          div.custom-control.custom-radio.custom-control-inline
            input#id4.custom-control-input(type="radio" name="rarity" value="SR")
            label.custom-control-label(for="id4") SR
          div.custom-control.custom-radio.custom-control-inline
            input#id5.custom-control-input(type="radio" name="rarity" value="R")
            label.custom-control-label(for="id5") R
          div.custom-control.custom-radio.custom-control-inline
            input#id6.custom-control-input(type="radio" name="rarity" value="N")
            label.custom-control-label(for="id6") N

          h5.mt-3= t("cards.attribute")
          div.custom-control.custom-radio.custom-control-inline
            input#attribute.custom-control-input(type="radio" name="attribute" value="All" checked)
            label.custom-control-label(for="attribute") All
          each attribute in ["Pride", "Greed", "Envy", "Wrath", "Lust", "Gluttony", "Sloth"]
            div.custom-control.custom-radio.custom-control-inline
              input.custom-control-input(id=attribute type="radio" name="attribute" value=attribute)
              label.custom-control-label(for=attribute)= t(attribute)

          include dict/itemList2.pug
          h5.mt-3 Special items
          div.custom-control.custom-radio.custom-control-inline
            input#attribute.custom-control-input(type="radio" name="reward" value="All" checked)
            label.custom-control-label(for="reward") All
          .d-flex.flex-wrap.align-items-center
            each item in itemList.slice(0, -3)
              div.btn-group-toggle(data-toggle="buttons")
                label.btn(for=item)
                  input(type="radio" name="reward" id=item value=item)
                  img(height=48 width=48 src=("/images/items/"+item+".png") alt=item)

        hr
        div#loading.text-center
          div.spinner-border.text-primary(role="status")
          p Loading...
        div.table-responsive

  style.
    .btn-group-toggle label:has(input[type="radio"]:checked) {
      border: 1px solid var(--secondary);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .btn-group-toggle label {
      border-radius: 8px;
      padding: 4px;
      margin: 4px;
    }